# Data Science Tools and Ecosystem

In this notebook, data science and ecosystem are summarized.

**Objectives:**
- popularly used data science languages
- Commonly used libraries
- Data science tools
- Arithematic expressions

Some of the most popularly used data science languages are :
1. Python
2. R
3. Julia

Some of the commonly used libraries by data scientists include :
1. Pandas
2. Numpy
3. Tensorflow

| Data Science Tools |
| ------------------ |
| R Studio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithematic expressions in python:

In [6]:
10+20

30

In [7]:
10*20

200

In [8]:
(3*4)+5

17

This will convert 200 minutes to hours

In [10]:
200/60

3.3333333333333335

## Author
**Athul Johnson**